# --- ROS 2 (Multispace) ---
# Ignora build, install y log en cualquier parte del repositorio
**/build/
**/install/
**/log/
**/devel/

# --- Imágenes del Filtro de Partículas ---
# Ignora todas las carpetas de capturas dentro de images, pero mantén el .gitignore si lo hay
**/amr_localization/images/*/
**/amr_planning/images/*

# --- Python ---
**/__pycache__/
*.pyc
*.pyo
*.pyd

# --- VS Code y Docker ---
.vscode/
.devcontainer/targets/

# --- Archivos de sistema ---
.DS_Store
Thumbs.db